:host {
	position: fixed;
	margin: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 100vh;

	display: flex;
	flex-direction: column;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

