<div class="decorations-grid">
    <div 
        class="decoration-item"
        [class.selected]="selectedDecoration === null"
        [class.current]="currentDecoration === null && overwriteOrNothing === 'nothing'"
        (click)="selectDecoration(null)">
        
        <div class="decoration-thumbnail">
            <img [src]="(overwriteOrNothing === 'nothing'?'/images/logos/no-decoration.png' : '/images/logos/add-decoration.png')" alt="No decoration" />
        </div>
        
        <span class="decoration-name">{{overwriteOrNothing === 'nothing'?'Aucun décoration':'Nouvelle décoration'}}</span>
    </div>

    <div 
        *ngFor="let decoration of ownedDecorations" 
        class="decoration-item"
        [class.selected]="selectedDecoration === decoration.id"
        [class.current]="decoration.id === currentDecoration"
        (click)="selectDecoration(decoration.id)">
        
        <div class="decoration-thumbnail">
            <img [src]="getDecorationThumbnail(decoration.image)" [alt]="decoration.name" />
        </div>
        
        <span class="decoration-name">{{ decoration.name }}</span>

        <div *ngIf="overwriteOrNothing === 'overwrite'">
            <button class="remove-button" (click)="deleteDecoration(decoration.id)">×</button>
        </div>
    </div>
</div>

