<h1> Personnaliser le profil </h1>
<div id="profile-settings-horizontal-editor">
    <div id="profile-settings-description">
        <h2> Identité </h2>
        <div class="settings-row">
            <label> Prénom : </label> <input id="profile-surname-input" value="FIRST_NAME"/>
        </div>
        <div class="settings-row">
            <label> Nom : </label> <input id="profile-name-input" value="LAST_NAME"/>
        </div>
        <h2> Description </h2>
        <textarea id="profile-description-input">DESCRIPTION</textarea>
    </div>
</div>
<h2> Image de profile </h2>
<app-profile-image-selector
    id="profile-settings-image-selector"><!--
    [selectedImage]="selectedImage"
    (imageSelected)="onImageSelected($event)"
    (imageRemoved)="onImageRemoved($event)"
    (imageAdded)="onImageAdded($event)">-->
</app-profile-image-selector>
<button class="main-button" id="profile-settings-save-button"> Sauvegarder </button>

