<div id="password-fields" [formGroup]="passwordForm">
  <h1>Modifier le mot de passe</h1>

  <span
    id="pass-error-text"
    class="result-text"
    [ngClass]="messageType"
    *ngIf="message"
  >
    {{ message }}
  </span>

  <label for="pass-actual">Mot de passe actuel</label>
  <input type="password" id="pass-actual" formControlName="currentPassword" />

  <hr />

  <label for="pass-new-1">Nouveau mot de passe</label>
  <input type="password" id="pass-new-1" formControlName="newPassword" />

  <label for="pass-new-2">Veuillez confirmer le nouveau mot de passe</label>
  <input type="password" id="pass-new-2" formControlName="confirmPassword" />

  <button
    class="main-button"
    id="change-pass-btn"
    [disabled]="passwordForm.invalid"
    (click)="onSubmit()"
  >
    Modifier le mot de passe
  </button>
</div>
