<div id="login-div" class="center-div">
    <h1>Mot de passe oublié</h1>

    <form [formGroup]="form" class="form-div">
        <h2>Nous sommes désolé d'apprendre cela. </h2>

        <label for="login-mail"> Merci d'indiquer votre adresse mail </label>
        <input type="email" id="login-mail" formControlName="email"/>

        <span [class]="'result-text ' + (resultMessage?(resultMessageIsError ? 'error' : 'success'):'')">
            {{ resultMessage }}
        </span>

        <ng-container *ngIf="forgotPasswordLaunched ; else notLaunchedBlock">
            <button type="submit" class="main-button" [disabled]="forgotPasswordLaunched" (click)="backToLogin()">
                Retour à la page de connexion
            </button>
        </ng-container>

        <ng-template #notLaunchedBlock>
            <button type="submit" class="main-button" [disabled]="!form.valid" (click)="submit()">
                Récupérer mon compte
            </button>
        </ng-template>

        <a routerLink="/login">Retour</a>
    </form>
</div>
