<div class="profile-selector">

  <!-- Bouton "Aucune image" -->
  <div class="profile-image-wrapper">
    <div class="profile-image none-option"
         [class.selected]="!selectedImage"
         [class.current]="!currentImage"
         (click)="clearSelection()">
      <span>×</span>
    </div>
    <span class="image-title">Aucune image</span>
    <div class="remove-button-placeholder"></div>
  </div>

  <!-- Images -->
  <div *ngFor="let img of images" class="profile-image-wrapper">
    <div class="profile-image"
         [class.selected]="img.id === selectedImage"
         [class.current]="img.id === currentImage"
         (click)="selectImage(img.id)">
      <img [src]="getImageUrl(img.id)" alt="Profile" />
    </div>
    <span class="image-title">{{img.name}}</span>
    <button class="remove-button" (click)="removeImage(img.id)">×</button>
  </div>

  <!-- Ajouter une nouvelle image -->
  <div class="add-button-wrapper profile-image-wrapper">
    <span class="add-button-icon">+</span>
    <input type="file" (change)="addImage($event)" accept="image/*"/>
  </div>

</div>
