<h2>Tous les cours</h2>

<app-class-list
[classes]="found_classes_objects"
(submit)="reloadClasses($event)"/>

<div class="actions-list">
    <button (click)="searchNextClasses()" class="main-button icon-button">
        <img src="/images/icons/search.png"/>
        <span>Charger plus</span>
    </button>

    <button (click)="createClass()" class="main-button icon-button">
        <img src="/images/icons/add.png"/>
        <span>Nouveau cours...</span>
    </button>
</div>

<h2>Tous les utilisateurs</h2>

<app-users-list
[users]="found_users_objects"
(submit)="reloadUsers($event)"/>

<div class="actions-list">
    <button (click)="searchNextUsers()" class="main-button icon-button">
        <img src="/images/icons/search.png"/>
        <span>Charger plus</span>
    </button>

    <button (click)="createUser()" class="main-button icon-button">
        <img src="/images/icons/add.png"/>
        <span>Nouvel utilisateur...</span>
    </button>
</div>  
